* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: midnightblue;
    color: white;
}

select {
    width: 100%;
    font-size: 17px;
    padding: 8px;
    color: white;
    background-color: inherit;
    border-color: white;
}

hr {
    margin: 30px 0;
    border: 1px dotted white;
}

input {
    font-size: 17px;
    padding: 8px;
    margin: 0;
    margin-right: 10px;
}